version: "3.9"

services:
  api:
    build: .
    container_name: fx-api
    ports:
      - "8000:8000"
    environment:
      REDIS_URL: redis://redis:6379/0
      CACHE_TTL_SECONDS: "21600"
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    container_name: fx-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  redis_data:
